<form class="container" action="" method="post">
    <h1>Them tai khoan</h1>

    <input type="text" name="username" placeholder="nhap username"> <br>
    <input type="email" name="email" placeholder="nhap email"> <br>
    <button type="submit">Add</button>
</form>