<form class="container">
    <h1>Danh sach user</h1>
    fsfkhsiofd: {{tieude}}
    <ol>


        {{#each ds_user}}
            <li>ID: {{this.id}} <br>
                Username:{{this.username}}<br>
                Email:{{this.email}}
            </li>
        {{/each}}
    </ol>
</form>