<form class="container" action="" method="post">
    <h1>Them san pham</h1>

    <input type="text" name="tensanpam" placeholder="nhap tên sản phẩm"> <br>
    <input type="text" name="soluong" placeholder="nhap số lượng sản phẩm"> <br>
    <button type="submit">Add</button>
</form>