<form class="container">
    <h1>Danh sach Sản phẩm</h1>
    fsfkhsiofd: {{tieude}}
    <ol>


        {{#each ds_sanpham}}
            <li>ID: {{this.id}} <br>
                tensanpham:{{this.tensanpham}}<br>
                soluong:{{this.soluong}}
            </li>
        {{/each}}
    </ol>
</form>